.card{
    display: flex;
    margin: 40px;
    padding: 16px;
}
.container-dashboard{
    background: url('../../../assets/login-font.jpg') center/cover no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
 }
