<h1 class="text-center m-4">Ver usuario</h1>
<div class="container mt-5">
  <div class="profile-image-container mb-3">
    <img class="profile-image" [src]="data.row.photo" alt="Imagen de perfil">
  </div>
<form [formGroup]="form" class="container mt-5">
  <div class="row mb-3">
    <div class="col-6">
      <mat-form-field>
        <mat-label>Name</mat-label>
        <input matInput formControlName="name">
      </mat-form-field>
    </div>

    <div class="col-6">
      <mat-form-field>
        <mat-label>Apellidos</mat-label>
        <input matInput formControlName="lastName">
      </mat-form-field>
    </div>
  </div>

  <div class="row mb-3">
    <div class="col-6">
      <mat-form-field>
        <mat-label>Dirección</mat-label>
        <input matInput formControlName="address">
      </mat-form-field>
    </div>
    <div class="col-6">
      <mat-form-field>
        <mat-label>Barrio</mat-label>
        <input matInput formControlName="neighborhood">
      </mat-form-field>
    </div>
  </div>

  <div class="row mb-3">
    <div class="col-6">
      <mat-form-field>
        <mat-label>Fecha nacimiento</mat-label>
        <input matInput [matDatepicker]="picker" formControlName="birthDate" >
        <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
    </div>
    <div class="col-6">
      <mat-form-field>
        <mat-label>Email</mat-label>
        <input matInput formControlName="email">
      </mat-form-field>
    </div>
  </div>

  <div class="row mb-3">
    <div class="col-6">
      <mat-form-field>
        <mat-label>Tipos de documentos identificación</mat-label>
        <mat-select formControlName="idTipoDocumento">
          <mat-option *ngFor="let item of tiposDocumentos" [value]="item.id">
            {{ item.name }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="col-6">
      <mat-form-field>
        <mat-label>Numero de documento</mat-label>
        <input matInput formControlName="numDocument">
      </mat-form-field>
    </div>
  </div>


  <div class="row mb-3">
    <mat-form-field>
      <mat-label>Numero de celular</mat-label>
      <input matInput formControlName="phoneNumber">
    </mat-form-field>
  </div>


  <div class="row mb-3">
    <mat-form-field>
      <mat-label>Rol del usuario</mat-label>
      <mat-select formControlName="idRol">
        <mat-option *ngFor="let item of tiposRoles" [value]="item.id">
          {{ item.name }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>

  <div class="row mb-3">
    <div class="col-6">
      <mat-form-field>
        <mat-label>Tipo de plan</mat-label>
        <mat-select formControlName="idPlan">
          <mat-option *ngFor="let item of planes" [value]="item.id">
            {{ item.name }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="col-6">
      <mat-form-field>
        <mat-label>Fecha plan</mat-label>
        <mat-date-range-input [rangePicker]="pickerRange">
          <input matStartDate placeholder="Fecha inicio"  formControlName="fechaDesdePlan">
          <input matEndDate placeholder="Fecha fin" formControlName="fechaHastaPlan">
        </mat-date-range-input>
        <mat-datepicker-toggle matIconSuffix [for]="pickerRange"></mat-datepicker-toggle>
        <mat-date-range-picker #pickerRange></mat-date-range-picker>
      </mat-form-field>
    </div>
  </div>
</form>
