.login-container {
  background: url('../../../assets/login-font.jpg') center/cover no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

mat-card {
  width: 400px;
}

.full-width {
  width: 100%;
}
