<div mat-dialog-title class="modal-header">
  <h2>Información del Usuario</h2>
</div>

<div class="user-details">
  <img [src]="data.photo" alt="Imagen del Usuario" />

  <div class="user-info">
    <p><strong>Username:</strong> {{ data.username }}</p>
    <p><strong>Nombre:</strong> {{ data.name }}</p>
    <p><strong>Apellido:</strong> {{ data.lastName }}</p>
    <p><strong>Email:</strong> {{ data.email }}</p>
    <p><strong>Numero telefonico:</strong> {{ data.phoneNumber }}</p>
    <p><strong>Roles:</strong>{{roles.join(', ')}} </p>
    <!-- Agrega más detalles según sea necesario -->
  </div>
</div>
