<div class="container-dashboard">
  <div class="container mt-5">
    <select class="form-select form-select-sm" aria-label="Small select example" (change)="mostrarTarjeta($event)">
      <option *ngFor="let opcion of opciones" [value]="opcion.id">{{ opcion.nombre }}</option>
    </select>
  </div>

  <div class="container mt-3" *ngIf="seleccionActual == 1">
    <mat-card>
      <h1 class="text-center"><strong>Entrenamiento</strong></h1>
      <mat-card-content>
        <app-entrenamiento></app-entrenamiento>
      </mat-card-content>
    </mat-card>
  </div>

  <div class="container mt-3" *ngIf="seleccionActual == 2">
    <mat-card>
      <h1 class="text-center"><strong>Usuarios</strong></h1>
      <mat-card-content>
        <app-usuarios></app-usuarios>
      </mat-card-content>
    </mat-card>
  </div>

  <div class="container mt-3" *ngIf="seleccionActual == 3">
    <mat-card>
      <h1 class="text-center"><strong>Planes</strong></h1>
      <mat-card-content>
        <app-planes></app-planes>
      </mat-card-content>
    </mat-card>
  </div>
</div>