<form [formGroup]="form" class="container mt-5">
  <h2 class="text-center">{{tituloModal}}</h2>
  <div class="row mb-3">
      <mat-form-field class="example-full-width">
        <mat-label>Nombre plan</mat-label>
        <input matInput formControlName="name">
        <mat-error *ngIf="form.get('name')?.hasError">Nombre del plan requerido</mat-error>
      </mat-form-field>
  </div>

  <div class="row mb-3">
        <mat-form-field class="example-full-width">
          <mat-label>Descripción del plan</mat-label>
          <textarea matInput placeholder="Este plan incluye..." formControlName="description"></textarea>
          <mat-error *ngIf="form.get('description')?.hasError">Una descripcion para el plan es requerida.</mat-error>
        </mat-form-field>
  </div>

  <div class="row mb-3">
      <mat-form-field>
        <mat-label>Valor del plan</mat-label>
        <input matInput formControlName="value" type="number" min="0" max="99999999">
        <mat-error *ngIf="form.get('value')?.hasError">Un valor es necesario.</mat-error>
      </mat-form-field>
  </div>
  <div class="row mb-3">
    <div class="col-md-12 text-center mb-4">
      <button type="submit" mat-raised-button color="primary" (click)="submit()">Submit</button>
    </div>
  </div>

</form>
